* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* カスタム変数 */
:root {
	--main-bg-color: black;
	--main-text-color: white;
	--main-hover-color: lightgray;
}

/* ヘッダー */
header {
	z-index: 100;
	position: fixed;
	background-color: var(--main-bg-color);
	width: 100%;
	display: inline-block;
	align-items: center;
	height: 64px;
	margin: 0 auto;
	padding: 15px 0;
}

.header_title {
	cursor: pointer;
	font-weight: bold;
	font-size: 24px;
	color: var(--main-text-color);
	text-decoration: none;
	margin: 0 10px;
}

.header_title:hover {
	color: var(--main-hover-color);
}

header nav {
	box-sizing: border-box;
	position: fixed;
	top: 64px;
	display: none;
	width: 100%;
	margin: 0;
	padding: 0 20px;
	height: calc(64px * 4);
	background-color: var(--main-bg-color);
	opacity: 0.9;
}

header nav ul {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
}

header nav ul li {
	margin: 0;
	padding: 20px;
}

.nav_item {
	cursor: pointer;
	font-weight: bold;
	list-style: none;
	color: var(--main-text-color);
	text-decoration: none;
}

.nav_item:hover {
	color: var(--main-hover-color);
}

#nav_toggle {
	z-index: 200;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 64px;
	height: 64px;
}

#nav_toggle span {
	position: absolute;
	top: 16px;
	left: 16px;
	display: inline-block;
	width: 32px;
	height: 2px;
	border-radius: 2px;
	background-color: lightgray;
	vertical-align: top;
}

#nav_toggle span:first-child {
	margin-top: 7px;
}

#nav_toggle span:nth-child(2) {
	margin-top: 15px;
}

#nav_toggle span:last-child {
	margin-top: 23px;
}

#nav_toggle.open span:first-child {
	transform: rotate(-45deg) translate(-5px, 6px);
}

#nav_toggle.open span:nth-child(2) {
	opacity: 0;
}

#nav_toggle.open span:last-child {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* メイン */
main {
	margin: 0 auto;
	padding: 79px 15px 0px;
	max-width: 1024px;
	height: 100vh;
	}

/* フッター */
footer {
	padding: 15px;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	text-align: center;
}

@media screen and (min-width: 768px) {
	header {
		display: block;
		padding: 15px 0;
	}

	header nav {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		margin-right: 15px;
		opacity: 1;
		height: 64px;
	}

	header nav ul {
		position: relative;
		top: 0;
		left: 0;
		transform: unset;
	}

	header nav ul li {
		display: inline-block;
		margin: 20px;
		padding: 0;
	}

	#nav_toggle {
		display: none;
	}
}
